/*Background color for every screen*/
body{
    background-color: #FFF5E6;
}

/*Welcome text*/
#MainTitle {
    color:#D32929;
    text-align: center;
    font-size: 200%;    
    font-family: 'Caesar Dressing';
}

/*App name*/
#Logo {
    color:#7F2122;
    text-align: center;
    font-size: 350%;
    font-family: 'Caesar Dressing'; 
    text-shadow: 2px 3px 2px #FACD1E;   
}

/*Description*/
#Explanation{
    color:#7F2122;
    text-align: start;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    width: 750px;
    padding-left: 8%;
}

/*Image 1, page1*/
#figure1 {
    text-align: right;
    padding-right: 300%;
    padding-inline-end: 5%;
    font-family: 'Caesar Dressing';
    color: #D32929;
}

#figure1 img{
    width: 200px;
    height: 200px;
    margin-top: -20%;
    margin-left: 80%;
    box-shadow: 0px 0px 15px #CAC198;
}

/*Specific box to write user's name*/
#userName {
    display: inline-block;
    border-radius: 20px;
    background-color: #E5DBB7;
    border: solid 3px #7F2122;
    color: #7F2122;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    height: 0px;
    width: 300px;
    font-family: 'Caesar Dressing';
}

/*Text to say hi, incluiding user's name*/
#Greeting {
    color:#D32929;
    text-align: center;
    font-size: 50px;    
    font-family: 'Caesar Dressing';
    padding-top: 0%;
    margin-bottom: 5%;
}

/*Start, encode and decode buttons*/
.button{
    display: inline-block;
    background-color: #CAC198;
    color: #D32929;
    text-align: center;
    margin: 5px;
    width: 250px;
    font-size: 17px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    border: solid 4px #FACD1E;
    border-radius: 40px;
    font-family: 'Caesar Dressing';
}

/*Form to encode and decode*/
#cipherForm {
    text-align: center;
    float: left;
    padding-left: 120px;
    margin-top: -30px;
}

/*Text lines on the form to encode and decode*/
p {
    color: #7F2122;
    text-align: center;
    font-size: 100%;
    font-family: 'Caesar Dressing';    
}

/*Specific box to write user's original message*/
#originalMessage{
    width: 100%;
    background-color: #E5DBB7;
    text-align: center;
    color: #7F2122;
    border: solid 3px #7F2122;
    border-radius: 20px;
}

/*Specific box to write or select an offset number*/
#offsetNumber{
    width: 15%;
    height: 30px;
    background-color: #E5DBB7;
    text-align: center;
    color: #7F2122;
    border: solid 3px #7F2122;
    border-radius: 20px;
}

/*Specific box to view coded or decoded message*/
#newMessage{
    width: 100%;
    background-color: #E5DBB7;
    text-align: center;
    color: #7F2122;
    border: solid 3px #7F2122;
    border-radius: 20px;
}

/*Image 2, page 2*/
#figure2 {
    text-align: left;
    width: 10%;
    font-family: 'Caesar Dressing';
    color: #D32929;
    float: left;
    padding-top: 10%;
    padding-left: 4%;
}

#figure2 img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 15px #CAC198;
}

/*Image 3, page 2*/
#figure3 {
    text-align: right;
    width: 10%;
    font-family: 'Caesar Dressing';
    color: #D32929;
    float: right;
    padding-top: 10%;
    padding-right: 4%;
}

#figure3 img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 15px #CAC198;
    margin-left: -18%;
}

/*To align box for user's name and start button */
.Form {
    display: inline-flexbox;
    text-align: center;
    padding-block-end: -30%;
}

#Page2 {
    display: none;
    align-items: stretch;
    } 

.style{
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    color: #7F2122;
    font-family: 'Caesar Dressing';
    font-size: smaller;
    margin-top: 2%;
    display: inline-block;
    width: 100%;
}





/*h4 {
    color:#7F2122;
    background-color: #CAC198;
    text-align: center;
    font-size: 20px;    
    font-family: 'Caesar Dressing';
}*/

/*figure {
    margin: 0% !important;
}*/

/*element.style {
    display: inline-block;
    margin-block: 0;
    margin-inline: 0;
}*/