/*color de fondo de todas las pantallas*/
body{
    background-color: #FFF5E6;
}

/*Texto de bienvenida*/
h1 {
    color:#D32929;
    text-align: center;
    font-size: 60px;    
    font-family: 'Caesar Dressing';
}

/*Logo*/
h2 {
    color:#7F2122;
    text-align: center;
    font-size: 300%;
    font-family: 'Caesar Dressing';    
}

h3 {
    color:#7F2122;
    background-color: #CAC198;
    text-align: left;
    font-size: 20px;    
    font-family: 'Caesar Dressing';
}


#Explanation{
    color:#7F2122;
    text-align: start;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    width: 800px;
    padding-left: 50px;
}

.PhotoAndBio {
    text-align: center;
    font-family: 'Caesar Dressing';
}

/*Image 1*/
#PhotoAndBio img{
    width: 200px;
    height: 200px;
    margin-top: -20%;
    margin-left: 80%;
    display: flexbox;
    box-shadow: 0px 0px 15px #CAC198;
}

.Form {
    display: inline-flexbox;
    text-align: center;
}

p3 {
    color:#D32929;
    text-align: end;
    font-size: 100%;
    font-family: 'Caesar Dressing';    
}
