/*Background color for every screen*/
body{
    background-color: #FFF5E6;
}

/*Welcome text*/
h1 {
    color:#D32929;
    text-align: center;
    font-size: 200%;    
    font-family: 'Caesar Dressing';
}

/*App name*/
h2 {
    color:#7F2122;
    text-align: center;
    padding-top: 0%;
    font-size: 350%;
    font-family: 'Caesar Dressing';    
}

h3 {
    color:#D32929;
    text-align: center;
    font-size: 60px;    
    font-family: 'Caesar Dressing';
    padding-top: -50%;
}

h4 {
    color:#7F2122;
    background-color: #CAC198;
    text-align: center;
    font-size: 20px;    
    font-family: 'Caesar Dressing';
}

/*Description*/
#Explanation{
    color:#7F2122;
    text-align: start;
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    width: 780px;
    padding-left: 5%;
}

figure {
    text-align: right;
    padding-right: 300%;
    padding-inline-end: 5%;
    font-family: 'Caesar Dressing';
    color: #D32929;
}

/*Image 1*/
figure img{
    width: 200px;
    height: 200px;
    margin-top: -20%;
    margin-left: 80%;
    display: flexbox;
    box-shadow: 0px 0px 15px #CAC198;
}

.Form {
    display: inline-flexbox;
    text-align: center;
    padding-block-end: -30%;
}

.textBox {
    display: inline-block;
    border-radius: 20px;
    background-color: aliceblue;
    color: #D32929;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    height: 0px;
    width: 300px;
}

p {
    color: #7F2122;
    text-align: left;
    font-size: 100%;
    font-family: 'Caesar Dressing';    
}

#Page2 {
    display: none;
} 

#Page3 {
    display: none;
} 

#Page4 {
    display: none;
} 

footer {
    text-align: center;
    font-family: 'Caesar Dressing';
    font-size: smaller;
    margin-top: 2%;
}